<footer class="footer has-background-black-ter has-text-white-ter top">
    <div class="container">
        <div class="columns">
            <div class="column has-text-left">
                <div itemscope="" itemtype="http://schema.org/Organization">
                    <h5><span itemprop="name" class="editable">Beegles Aircraft Services, Inc.</span></h5>
                    <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress" class="lb editable">635 Airport Road</span>
                        <span itemprop="addressLocality" class="editable">Greeley</span>,
                        <span itemprop="addressRegion" class="editable">CO</span>
                        <span addresszipcode="postalCode" itemprop="postalCode" class="editable">80631</span>
                    </div>

                    Tel:
                    <span itemprop="telephone" class="editable"> <a href="tel:+1-970-353-9200">(970) 353-9200</a></span>
                    <br />Fax: <span itemprop="faxNumber" class="editable"> <a href="tel:+1-970-353-7280">(970) 353-7280</a></span>
                    <div itemprop="email" class="editable">
	<p><a href="mailto:info@beeglesair.com">Email Us</a></p>
</div>
                </div>
            </div>
            <div class="column has-text-right-tablet editable">
	<h3 class="is-size-5">Your aircraft in need of repair?</h3>
	<p><a href="/quote/">Request a quote</a></p>
</div>
        </div>
    </div>
</footer>



<footer class="footer has-background-black has-text-white-ter bottom">
    <div class="container">
        <div class="columns">
            <div class="column has-text-left-tablet is-paddingless">
                <p class="is-paddingless editable">Beegles Aircraft Services, Inc. All rights reserved. &copy; Copyright 1946-<script>document.write(new Date().getFullYear())</script></p>
            </div>
            <div class="column has-text-right-tablet is-paddingless">
                <p class="is-paddingless">site by <a href="https://www.variantstudios.com">Variant Studios</a>.</p>
            </div>
        </div>
    </div>
</footer>