.hero.site {
    &.hero-image {
        height: 300px;
        @media screen and (min-width: 1088px) {
            height: 600px;
        }
    }
    &.hero-noimage {
        background-image: linear-gradient(141deg, #ba3634 0, #b62727 71%, #c73939 100%);
    }
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    picture {
        min-width: 100%;
        object-fit: cover;
        max-width: 100%;
        flex-shrink: 0;
        position: absolute;
        height: 300px;
        @media screen and (min-width: 1088px) {
            height: 600px;
        }
    }
    svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 130px;
        z-index: 1;
    }
}

.hero.site .subtitle,
.hero.site .title {
    text-shadow: 1px 1px 1px #000;
    z-index: 2;
    position: relative;
}