nav.navbar {
    border-top: solid 5px #a4191b;
    min-height: 2.25rem;
    .navbar-item img {
        max-height: 3rem;
    }
}

@media screen and (min-width: 1088px) {
    nav.navbar {
        min-height: 2.25rem;
        .navbar-item img {
            max-height: 5rem;
        }
    }
}