--- 
layout: default 
---
<section class="hero is-medium has-text-white is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white">
                {{site.title}}
            </h1>
            <h2 class="subtitle has-text-white">
                Serving Aviation Since 1946
            </h2>
        </div>
    </div>
</section>


<main class="section">
    <div class="container">
        <section class="content">{{content}}</section>
    </div>
</main>