---
layout: default
---
<section class="hero is-medium has-text-white is-bold site {% if page.hero_image %}hero-image{% else %}hero-noimage{% endif %}">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-white is-size-1">
                {{page.title}}
            </h1>
            {% if page.sub_title %}
            <h2 class="subtitle has-text-white is-size-4">
                {{page.sub_title}}
            </h2>
            {% endif %}
        </div>
    </div>
    {% if page.hero_image %}
   <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="{{site.cloudinaryurl}}image/fetch/w_400,c_fill,q_auto/{{site.url}}{{ page.hero_image}}" media="(max-width: 400px)">
        <source srcset="{{site.cloudinaryurl}}image/fetch/w_600,c_fill,q_auto/{{site.url}}{{ page.hero_image}}" media="(max-width: 600px)">
        <source srcset="{{site.cloudinaryurl}}image/fetch/w_800,c_fill,q_auto/{{site.url}}{{ page.hero_image}}" media="(max-width: 800px)">
        <source srcset="{{site.cloudinaryurl}}image/fetch/w_1000,c_fill,q_auto/{{site.url}}{{ page.hero_image}}" media="(max-width: 1000px)">
        <source srcset="{{site.cloudinaryurl}}image/fetch/w_1200,c_fill,q_auto/{{site.url}}{{ page.hero_image}}" media="(min-width: 1001px)">
        <!--[if IE 9]></video><![endif]-->
        <img src="{{site.cloudinaryurl}}image/fetch/w_400,c_fill,q_auto/{{site.url}}{{ page.hero_image}}" alt="{{page.title}}"> 
    </picture>
    {% endif %}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100 100,0 100,100"/>
  </svg>
</section>

<main class="section">
    <div class="columns content">
        <section class="column">
            <div>{{content}}<div>
            {% if page.map_url %}<div>{% include map.html %}</div>{% endif %}
             {% if page.testimonials[0].testimonial_body_text %}
            <div>{% include testimonials.html %} </div>{% endif %}
        </section>

       

       

        {% if page.page_image_gallery[0].gallery_image_path %}
        <section class="column is-one-third">{% include gallery.html %}</section>{% endif %}

    </div>
</main>